/* ==============================================
   BACKGROUND IMAGE
   ============================================== */

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* background-image: url('../../assets/images/Wald2.png'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    z-index: -1;
    filter: contrast(1) brightness(1.1) saturate(1);
}
